<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Personel Departman Listesi </h4>
                        <a class="pull-right" data-toggle="modal" data-target="#modal">
                            <i style="color:white" title="Ekle" class="far fa-plus-square fa-2x"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <div class="col-md-4 pull-right">
                                <mat-form-field>
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                                </mat-form-field>
                            </div>
                            <table mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'}}</th>
                                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                                </ng-container>
                                <ng-container matColumnDef="personelad">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'personelad'}}</th>
                                    <td mat-cell *matCellDef="let element">{{element.personelad}}</td>
                                </ng-container>
                                <ng-container matColumnDef="personelsoyad">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'personelsoyad'}}</th>
                                    <td mat-cell *matCellDef="let element">{{element.personelsoyad}}</td>
                                </ng-container>

                                <ng-container matColumnDef="departmanad">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'departmanad'}}</th>
                                    <td mat-cell *matCellDef="let element">{{element.departmanad}}</td>
                                </ng-container>
                                <ng-container matColumnDef="departmankod">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'departmankod'}}</th>
                                    <td mat-cell *matCellDef="let element">{{element.departmankod}}</td>
                                </ng-container>

                                <ng-container matColumnDef="update">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td style="width: 25px;" mat-cell *matCellDef="let element">
                                        <a data-toggle="modal" data-target="#departman"
                                            (click)="getPersonelDepartmentById(element.id)">
                                            <i title="Guncelle" style="color:#ff5722;" class="far fa-edit"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td style="width: 25px;" mat-cell *matCellDef="let element">
                                        <a (confirm)="deletePersonelDepartment(element.id)" [swal]="deleteSwal"><i title="Sil"
                                                style="color: #D9534E;" class="fas fa-trash-alt"></i></a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-angular fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="clearFormGroup(departmentAddForm)"><span aria-hidden="true">&times;</span></button>
                <h4 class="margin-top"> Persoenl Departman Eşleştirme Formu </h4>
                <div class="separator"></div>
                <form *ngIf="departmentAddForm" [formGroup]="departmentAddForm" (ngSubmit)="save()">

                    <!-- TODO  Personel ve Departman listeden seçilecek -->

                    <div class="row">
                        <div class="col col-md-6">
                            <mat-form-field>
                                <mat-select  name="personelId" formControlName="personelId">
                                  <mat-option *ngFor="let item of personelDropdownList" [value]="item.id">
                                    {{item.label}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field> 
                        </div>
                     
                        <div class="col col-md-6">
                            <mat-form-field>
                                <mat-select  name="departmentId" formControlName="departmentId">
                                  <mat-option *ngFor="let item of departmentDropdownList" [value]="item.id">
                                    {{item.label}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field> 
                        </div>
                    </div>

                    <button mat-raised-button type="submit" class="btn btn-danger pull-right mt-5">Kaydet</button>



                </form>
            </div>
        </div>
    </div>
</div>